/* Intro animations */
.animate-introFadeOut {
	animation: introFadeOut 2s ease forwards;
}

.animate-scaleIn {
	animation: scaleIn 1s ease-out;
}

/* Content Entrance */
.animate-contentEnter {
	animation: contentEnter 1s ease-out forwards;
}

/* Letter Reveal Animation */
.animate-letterReveal {
	animation: letterReveal 0.6s ease-out forwards;
}

/* Word Reveal for Greeting & Text Sections */
.animate-wordDelay {
	animation: wordDelay 0s linear forwards;
	animation-fill-mode: forwards;
}

/* Fade-In for Texts (Like Button) */
.animate-fadeIn {
	animation: fadeIn 1s ease-out forwards;
}

/* Button Shine Effect */
.group-hover\:animate-shine {
	animation: shine 0.8s ease-in-out forwards;
}

/* Image Rotate In */
.animate-rotateIn {
	animation: rotateIn 0.8s ease-out;
}

/* Navbar fade-in*/
.animate-navbarFadeIn {
	animation: navbarFadeIn 0.6s ease-out forwards;
}

/* Intro animations */
@keyframes introFadeOut {
	0% {
		opacity: 1;
	}
	80% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		pointer-events: none;
	}
}

@keyframes scaleIn {
	0% {
		transform: scale(0.9);
		opacity: 0;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}

/* Content Entrance */
@keyframes contentEnter {
	0% {
		opacity: 0;
		transform: translateY(40px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

/* Letter Reveal Animation */
@keyframes letterReveal {
	0% {
		opacity: 0;
		transform: translateY(20px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

/* Word Reveal for Greeting & Text Sections */
@keyframes wordDelay {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}


/* Fade-In for Texts (Like Button) */
@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

/* Button Shine Effect */
@keyframes shine {
	0% {
		transform: translateX(-100%);
	}
	100% {
		transform: translateX(100%);
	}
}

/* Image Rotate In */
@keyframes rotateIn {
	0% {
		opacity: 0;
		transform: rotate(-10deg) scale(0.95);
	}
	100% {
		opacity: 1;
		transform: rotate(0deg) scale(1);
	}
}

@keyframes bounce {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-10px);
	}
	100% {
		transform: translateY(0);
	}
}

@keyframes navbarFadeIn {
	0% {
		opacity: 0;
		transform: translateY(-20px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}