@import "tailwindcss";

@theme {
	--color-primary-dark: #132534;
	--color-secondary-dark: #1d3351;
	--color-primary-light: #faa2a2;
	--color-secondary-light: #6eb1e7;
	--button-disabled: #645151;
	--grayscale: rgba(255, 255, 255, 0.5);
	--font-default: 'Pearl', monospace;
	--duration: 0.3s;
}

@font-face {
	font-family: 'Pearl';
	src: url('/public/fonts/Pearl.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	font-family: var(--font-default), monospace;
	background-color: var(--color-primary-dark);
	color: var(--color-primary-light);
}

.page-enter-active,
.page-leave-active {
	transition: all 0.4s;
}

.page-enter-from,
.page-leave-to {
	opacity: 0;
	filter: blur(1rem);
}