@import "tailwindcss";

@theme {
	--color-primary-dark: #132534;
	--color-secondary-dark: #1d3351;
	--color-primary-light: #faa2a2;
	--color-secondary-light: #6eb1e7;
	--button-disabled: #645151;
	--grayscale: rgba(255, 255, 255, 0.5);
	--font-default: 'Pearl', monospace;
	--duration: 0.3s;
}

@font-face {
	font-family: 'Pearl';
	src: url('/public/fonts/Pearl.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	z-index: 0;
	font-family: var(--font-default), sans-serif;
	background-color: var(--color-primary-dark);
	color: var(--color-primary-light);
}

/* Portrait Image Styling */
img {
	transition: transform 0.4s cubic-bezier(0.22, 1, 0.36, 1);
	transform: scale(1) rotate(0deg);
}

img:hover {
	transform: scale(1.07) rotate(1deg);
}

.page-enter-active,
.page-leave-active {
	transition: all 0.4s;
}

.page-enter-from,
.page-leave-to {
	opacity: 0;
	filter: blur(1rem);
}

.btn-primary {
	background-color: var(--color-primary-light);
	color: var(--color-primary-dark);
	font-weight: bold;
	border-radius: 0.375rem;
	padding: 1rem 1.5rem;
	transition: background-color var(--duration) ease, transform var(--duration) ease;
}