@import "tailwindcss";

@theme {
	--color-background-light: #ffffff; /* Light background color */
	--color-background-dark: #e6e6e6; /* Dark background color */
	--color-text-primary: #333333; /* Primary text color */
	--color-text-secondary: #999999; /* Secondary text color */
	--border-dark: #ffffff33; /* Dark border color */
	--color-accent: #faa2a2; /* Accent color */
	--color-button-primary: #262626; /* Primary button color */
	--color-button-secondary: #7e7e7e; /* Secondary button color */
	--color-button-disabled: #cccccc; /* Disabled button color */
	--color-overlay: rgba(0, 0, 0, 0.6); /* Overlay or grayscale effect */
	--font-family-default: 'Pearl', monospace; /* Default font family */
	--transition-duration: 0.3s; /* Default transition duration */
}

/*.dark {*/
/*	--color-primary-dark: #1c1f26;*/
/*	--color-secondary-dark: #2a2e35;*/
/*	--color-primary-light: #faa2a2;*/
/*	--color-secondary-light: #6eb1e7;*/
/*	--button-disabled: #6c757d;*/
/*	--grayscale: rgba(255, 255, 255, 0.4);*/
/*	--font-default: 'Pearl', monospace;*/
/*	--duration: 0.3s;*/
/*}*/

@font-face {
	font-family: 'Pearl';
	src: url('/public/fonts/Pearl.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	z-index: 0;
	font-family: var(--font-family-default), sans-serif;
	background-color: var(--color-background-light);
	color: var(--color-text-primary);
}

/* Portrait Image Styling */
img {
	transition: transform 0.4s cubic-bezier(0.22, 1, 0.36, 1);
	transform: scale(1) rotate(0deg);
}

img:hover {
	transform: scale(1.07) rotate(1deg);
}

.page-enter-active,
.page-leave-active {
	transition: all 0.4s;
}

.page-enter-from,
.page-leave-to {
	opacity: 0;
	filter: blur(1rem);
}

.btn-primary {
	background-color: var(--color-background-light);
	color: var(--color-text-primary);
	font-weight: bold;
	border-radius: 0.375rem;
	padding: 1rem 1.5rem;
	transition: background-color var(--transition-duration) ease, transform var(--transition-duration) ease;
}